.card {
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  width: 30rem;
  background: white;
  border-left: 1px dashed aquamarine;
  text-align: center;
  border-radius: 10px;
  max-height: 20rem;
}

.card-top {
  font-weight: bold;
  font-size: 1.2rem;
}

.card-body {
  display: flex;
  flex-direction: row;
}

.card-left {
  text-align: start;
  width: 20rem;
  margin-right: 2rem;
}

.card-right {
  width: 10rem;
  padding-right: 1rem;
}

.card-right img {
  border-radius: 10px;
  max-width: 130px;
}

@media only screen and (max-width: 1660px) {
  .card-right img {
    max-width: 100px;
  }
}
