<header class="header">
  <h1 class="title"> {{title}} </h1>
  <a href="https://github.com/leirdan" class="subtitle"> {{subtitle}} </a>
</header>
<div class="content">
  <card title="Megaman X3" description="Melhor jogo da trilogia Megaman X do SNES"
    urlImg="https://th.bing.com/th/id/OIP.8e91Ja2kjks87p1oyqorNAHaHa?pid=ImgDet&rs=1"
    linkBtn="https://pt.wikipedia.org/wiki/Mega_Man_X3"> </card>
  <card title="Phantasy Star I" description="Jogo de RPG dos anos 1980."
    urlImg="https://th.bing.com/th/id/OIP.ewYM1gNSXgfbOqV7hbMbggHaKQ?pid=ImgDet&rs=1"
    linkBtn="https://pt.wikipedia.org/wiki/Phantasy_Star"></card>
</div>